<div class="login">
    <h1>Iniciar sesión</h1>
    <form action="/api/sessions/login" method="post">
        <label for="">Email:</label><input type="email" name="email">
        <label for="">Contraseña:</label><input type="password" name="password">
        <button type="button"><a href="http://localhost:8080/register">Registrarse</a></button>
        <button type="submit">Iniciar sesión</button>
    </form>
</div>